workflow-chatbot-telegram.json
{
  "name": "Chatbot Telegram - Fillipe Araujo",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -16
      ],
      "id": "59bab9c9-c746-4abf-9d21-9bdbb7b736ea",
      "name": "Telegram Trigger",
      "webhookId": "28e7d1e8-565f-42ec-8355-bd8e3cbc8bb5",
      "credentials": {
        "telegramApi": {
          "id": "06QthMo9X5RLkrjg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            },
            {
              "name": "q",
              "value": "={{ $json.analise.message }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        -32
      ],
      "id": "dc0249c9-f021-4cfb-aecd-cac4025f868f",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an agent that takes the user's message and tries to extract the city and state (UF) to pass to another service via JSON.\n\nYour goal is to obtain a user message that contains the city and the state.\n\nIn the JSON, you must set the \"success\" attribute to true if you could successfully extract the city and state from the message. If extraction fails, set \"success\" to false. The \"recomendation\" attribute should contain a message \"❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).\"; if city and state are extracted successfully, \"recomendation\" should be null.\n\nYou must extract the city and state from the message, and the \"message\" attribute MUST ALWAYS BE IN THE FORMAT: \"City, UF\":\n\n<message>\n{{ $json.queue }}\n</message>\n\nInput message examples: \n\n| 1.1 | `Oi quero saber a temp de London, UK`         | Output: London, UK      |\n| 1.2 | `Qual a temperatura em Londres?`              | Output: London, UK      |\n| 1.3 | `Diga qual a de New York, US`                 | Output: New York, US    |\n| 1.4 | `Qual a temperatura de Tokyo, JP`             | Output: Tokyo, JP       |\n| 1.5 | `Paris, FR`                                   | Output: Paris, FR       |\n| 1.6 | `Salvador, BA`                                | Output: Salvador, BR    |\n| 1.7 | `São Paulo, SP`                               | Output: São Paulo, BR   |\n| 1.8 | `Curitiba, PR`                                | Output: Curitiba, BR    |\n| 1.9 | `Recife, PE`                                  | Output: Recife, BR      |\n| 1.10 | `Rio de Janeiro, RJ`                         | Output: Rio de Janeiro, BR |\n| 1.11 | `Sydney, AU`                                 | Output: Sydney, AU      |\n| 1.12 | `Lisbon, PT`                                 | Output: Lisbon, PT      |\n\nExample output, in JSON format:\n\n{\n  \"message\": \"São Paulo, SP\",\n  \"success\": true | false,\n  \"recomendation\": \"Recommendation text\"\n}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        336,
        -16
      ],
      "id": "2eeb0014-004d-4836-a1ff-2d2e29f15fd2",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "2OSIL73YYxCu3hYs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d8eb133-552c-466e-b320-5998e150b1b9",
              "name": "analise",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -16
      ],
      "id": "34f1e99d-99ba-484f-93dc-5e5b8923a5c9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d0348476-954b-4640-a107-4df7202f2f92",
              "leftValue": "={{ $json.analise.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        -16
      ],
      "id": "ad26ac76-2ea0-42e0-b085-62c3cd33a1a1",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.analise.recomendation }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        272
      ],
      "id": "1f69ed40-181c-4b3a-aad7-197a28167377",
      "name": "Send a text message",
      "webhookId": "d2bc77df-0f0e-491f-8fc1-d7eeb30fe5d6",
      "credentials": {
        "telegramApi": {
          "id": "06QthMo9X5RLkrjg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        272
      ],
      "id": "94633dea-4891-4ea0-b36c-cbbe42ea0685",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44352870-b87e-4175-ad7d-90c7992217e9",
              "name": "message",
              "value": "=🌤️ A temperatura em {{ $json.name }} é de {{ parseInt($json.main.temp) }}ºC",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -176
      ],
      "id": "db337218-014f-4a98-99ab-07c50abd6545",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1536,
        -176
      ],
      "id": "422914b6-6e1d-4b79-85b5-98b4fbc1d4ed",
      "name": "Send a text message1",
      "webhookId": "eb1d04d3-5acb-4295-96c4-f4fbccb72f95",
      "credentials": {
        "telegramApi": {
          "id": "06QthMo9X5RLkrjg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        16
      ],
      "id": "1ed8496b-6cbc-4257-a01e-d90739d81631",
      "name": "Send a text message2",
      "webhookId": "249db852-64fd-4b21-af1e-e60c10ef89ca",
      "credentials": {
        "telegramApi": {
          "id": "06QthMo9X5RLkrjg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e15c69c-d9d7-423c-b5d3-1ec89fdc7bb3",
              "name": "queue",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -16
      ],
      "id": "812c4d43-cec1-4283-a413-1270acf0a5a1",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cbf83d52-3357-4d20-ad8c-102f82865bdc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19b7e6e45614bd2daa68f512d1c5c1c9a67cc27272ba31534117da62841252a0"
  },
  "id": "2hyc2ShasL2HS6Xh",
  "tags": []
}