workflow-chatbot-telegram.json
{
  "name": "Chatbot Telegram - Fillipe Araujo",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -16
      ],
      "id": "59bab9c9-c746-4abf-9d21-9bdbb7b736ea",
      "name": "Telegram Trigger",
      "webhookId": "28e7d1e8-565f-42ec-8355-bd8e3cbc8bb5",
      "credentials": {
        "telegramApi": {
          "id": "06QthMo9X5RLkrjg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1568,
        224
      ],
      "id": "94633dea-4891-4ea0-b36c-cbbe42ea0685",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd8698e5-d458-4f75-9e17-a15a73accf56",
              "leftValue": "={{\n/^[A-Za-zÀ-ÿ\\s]+,\\s?[A-Z]{2}$/.test(($json.analise.message || \"\").trim())\n}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        -112
      ],
      "id": "2ec4f297-e283-4653-8ab0-8b35cc5ae2b6",
      "name": "Validação da Saida AI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d0348476-954b-4640-a107-4df7202f2f92",
              "leftValue": "={{ $json.analise.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -16
      ],
      "id": "ad26ac76-2ea0-42e0-b085-62c3cd33a1a1",
      "name": "Validação da análise AI"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d8eb133-552c-466e-b320-5998e150b1b9",
              "name": "analise",
              "value": "={{ JSON.parse($json.content.parts[0].text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -16
      ],
      "id": "34f1e99d-99ba-484f-93dc-5e5b8923a5c9",
      "name": "Extrai retorno AI"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e15c69c-d9d7-423c-b5d3-1ec89fdc7bb3",
              "name": "queue",
              "value": "={{ $json.message.text.trim()\n   .toLowerCase()\n   .normalize(\"NFD\")\n   .replace(/[\\u0300-\\u036f]/g, \"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ],
      "id": "812c4d43-cec1-4283-a413-1270acf0a5a1",
      "name": "Normalização Msg User"
    },
    {
      "parameters": {
        "url": "=https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            },
            {
              "name": "q",
              "value": "={{ $json.analise.message }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1328,
        -240
      ],
      "id": "dc0249c9-f021-4cfb-aecd-cac4025f868f",
      "name": "GET openweathermap API",
      "alwaysOutputData": true,
      "executeOnce": false,
      "notesInFlow": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.analise.recomendation }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        224
      ],
      "id": "1f69ed40-181c-4b3a-aad7-197a28167377",
      "name": "Mensagem de erro da AI",
      "webhookId": "d2bc77df-0f0e-491f-8fc1-d7eeb30fe5d6",
      "credentials": {
        "telegramApi": {
          "id": "06QthMo9X5RLkrjg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2192,
        0
      ],
      "id": "1ed8496b-6cbc-4257-a01e-d90739d81631",
      "name": "Mensagem erro da API",
      "webhookId": "249db852-64fd-4b21-af1e-e60c10ef89ca",
      "credentials": {
        "telegramApi": {
          "id": "06QthMo9X5RLkrjg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ O formato de mensagem é inválido use <Cidade,UF> (ex.: São Paulo, SP).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        16
      ],
      "id": "233f5fb8-7e04-430a-a181-ebcd587d336a",
      "name": "Mensagem erro Formato Inválido",
      "webhookId": "249db852-64fd-4b21-af1e-e60c10ef89ca",
      "credentials": {
        "telegramApi": {
          "id": "06QthMo9X5RLkrjg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a09c620c-f18a-4f23-b1b2-9d5cc6b8d5c3",
              "leftValue": "={{\n  $json.statusCode >= 200 &&\n  $json.statusCode < 300 &&\n  $json.body &&\n  $json.body.name &&\n  $json.body.main &&\n  $json.body.main.temp !== undefined\n}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1600,
        -176
      ],
      "id": "981ee3c5-3d0e-4116-a03e-54e17ca5109c",
      "name": "Valida retorno da API"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an agent that takes the user's message and tries to extract the city and state (UF) to pass to another service via JSON.\n\nYour goal is to obtain a user message that contains the city and the state.\n\nIn the JSON, you must set the \"success\" attribute to true if you could successfully extract the city and state from the message. If extraction fails, set \"success\" to false. The \"recomendation\" attribute should contain a message \"❌ O formato de mensagem é inválido use <Cidade,UF> (ex.: São Paulo, SP).\"; if city and state are extracted successfully, \"recomendation\" should be null.\n\nIMPORTANT: You must convert all the UF codes for the cities to the abbreviation BR because the OpenWeatherMap API does not recognize the UF codes for the Brazilian states.\n\nYou must extract the city and state from the message, and the \"message\" attribute MUST ALWAYS BE IN THE FORMAT: \"City, UF\" (Do not add accents, spaces at the end, or special characters):\n\nInput message examples: \n\n| 1 | Input: `Salvador, BA` -> Output: Salvador, BR\n| 2 | Input: `São Paulo, SP` -> Output: São Paulo, BR\n| 3 | Input: `Curitiba, PR` -> Output: Curitiba, BR\n| 4 | Input: `Recife, PE` -> Output: Recife, BR\n| 5 | Input: `Rio de Janeiro, RJ` -> Output: Rio de Janeiro, BR\n\nExample output, in JSON format:\n\n{\n  \"message\": \"Sao Paulo, SP\",\n  \"success\": true | false,\n  \"recomendation\": \"Recommendation text\"\n}\n\n\nMessage from user:\n\n<message>\n{{ $json.queue }}\n</message>"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        320,
        0
      ],
      "id": "60b377ae-4bed-485e-9eb6-af54a3276474",
      "name": "Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "XCG1bvkuUobehHS1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cidades_mais_pesquisadas",
          "mode": "list",
          "cachedResultName": "cidades_mais_pesquisadas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cidade": "={{ $json.cidade }}",
            "uf": "={{ $json.uf }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cidade",
              "displayName": "cidade",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uf",
              "displayName": "uf",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_pesquisa",
              "displayName": "data_pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3664,
        -160
      ],
      "id": "a80c4781-1b43-452c-a436-f54f9bc9b631",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "o2VqY2D72FQFskAU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n    SELECT 1\n    FROM information_schema.tables\n    WHERE table_schema = 'public'\n      AND table_name = 'cidades_mais_pesquisadas'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2656,
        -96
      ],
      "id": "6a7134b9-38f4-4aff-9f3f-86c31cf81d36",
      "name": "Save Cidades - Verifica se a tabela existe",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "o2VqY2D72FQFskAU",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b35be2b2-1b6c-4d3f-b88b-8b9b9e8f15b7",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2912,
        -96
      ],
      "id": "13ea29e2-7dc3-4dfb-9361-f70f47606095",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE cidades_mais_pesquisadas (\n    id SERIAL PRIMARY KEY,\n    cidade VARCHAR(120) NOT NULL,\n    uf CHAR(2) NOT NULL,\n    data_pesquisa TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3152,
        16
      ],
      "id": "3a9dc23a-c76b-4007-a4e3-d53771f471e4",
      "name": "Cria tabela: cidades_mais_pesquisadas",
      "credentials": {
        "postgres": {
          "id": "o2VqY2D72FQFskAU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14cc5bca-18a4-455f-9336-db8650d8ea8d",
              "name": "cidade",
              "value": "={{ $('Validação da Saida AI').item.json.analise.message.split(',')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "2fe2208b-ddb3-4d54-870a-85ce20f2bd95",
              "name": "uf",
              "value": "={{ $('Validação da Saida AI').item.json.analise.message.split(',')[1].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3424,
        -144
      ],
      "id": "4d091717-01df-41f4-88d2-ec7677c17136",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "665b9c70-09f0-477c-ae6e-2d6432c7b2d2",
              "name": "icon",
              "value": "={{\n  (() => {\n  const temp = $json.body.main.temp;\n\n  const faixas = [\n    { min: -50, max: 5, icone: \"🥶\" },\n    { min: 5, max: 15, icone: \"🧥\" },\n    { min: 15, max: 20, icone: \"🌤️\" },\n    { min: 20, max: 28, icone: \"🌞\" },\n    { min: 28, max: 50, icone: \"🥵\" }\n  ];\n\n  const faixa = faixas.find(f => temp >= f.min && temp < f.max);\n\n  return `${faixa.icone}`;\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "6b690f4f-3a5c-4c20-8909-6d5e7aff223a",
              "name": "temp",
              "value": "={{ $json.body.main.temp }}",
              "type": "number"
            },
            {
              "id": "099dcec7-fd01-46cd-95fd-4b36a9b4e828",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        -256
      ],
      "id": "4f382030-078f-4ce1-85bc-c9d5a189d676",
      "name": "Formata Retono da API e Icone Customizado por Temperatura"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44352870-b87e-4175-ad7d-90c7992217e9",
              "name": "message",
              "value": "={{ $json.icon }} A temperatura em {{ $json.name }} é de {{ parseInt($json.temp) }}ºC",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -256
      ],
      "id": "db337218-014f-4a98-99ab-07c50abd6545",
      "name": "Monta mensagem de sucesso"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2432,
        -256
      ],
      "id": "422914b6-6e1d-4b79-85b5-98b4fbc1d4ed",
      "name": "Envia a mensagem de Sucesso",
      "webhookId": "eb1d04d3-5acb-4295-96c4-f4fbccb72f95",
      "credentials": {
        "telegramApi": {
          "id": "06QthMo9X5RLkrjg",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalização Msg User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validação da Saida AI": {
      "main": [
        [
          {
            "node": "GET openweathermap API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem erro Formato Inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validação da análise AI": {
      "main": [
        [
          {
            "node": "Validação da Saida AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem de erro da AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai retorno AI": {
      "main": [
        [
          {
            "node": "Validação da análise AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalização Msg User": {
      "main": [
        [
          {
            "node": "Google Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET openweathermap API": {
      "main": [
        [
          {
            "node": "Valida retorno da API",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Mensagem de erro da AI": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem erro Formato Inválido": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida retorno da API": {
      "main": [
        [
          {
            "node": "Formata Retono da API e Icone Customizado por Temperatura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem erro da API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "main": [
        [
          {
            "node": "Extrai retorno AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "Save Cidades - Verifica se a tabela existe": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria tabela: cidades_mais_pesquisadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria tabela: cidades_mais_pesquisadas": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Retono da API e Icone Customizado por Temperatura": {
      "main": [
        [
          {
            "node": "Monta mensagem de sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta mensagem de sucesso": {
      "main": [
        [
          {
            "node": "Envia a mensagem de Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia a mensagem de Sucesso": {
      "main": [
        [
          {
            "node": "Save Cidades - Verifica se a tabela existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "24d8a78b-a0c2-468b-9f7a-911f07701760",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19b7e6e45614bd2daa68f512d1c5c1c9a67cc27272ba31534117da62841252a0"
  },
  "id": "2hyc2ShasL2HS6Xh",
  "tags": []
}